@use "./project-card";

// Project grid is a component which lays out projects in a masonry-like grid

.project-grid {
    &__title {
        margin-bottom: 48px;
    }

    &__list {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(4, 300px);
        gap: 30px;

        &:hover .project-card__header,
        &:hover .project-card__image {
            filter: grayscale(100%);
            opacity: 50%;
        }

        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
    }
}