@use "./colors";

// Declare all font variables used in the theme

// Font Family
$font-family--body: 'Inter',
sans-serif;

// Font Colors
$font-color--body: colors.$gray-900;

// Font Sizes
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--extra-bold: 800;